body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 0 1em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em 0;
  line-height: 1.2em;
}
a:link, a:visited {
  color: #03c;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #03f;
  text-decoration: underline;
}
body,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #333;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
  color: #444;
}
img {
  max-width: 100%;
}
figure {
  margin: 1em 0;
  text-align: center;
}
figcaption {
  font-size: small;
}
pre, code, samp, kbd {
  color: #009;
  font-family: monospace, monospace;
  font-size: 0.9em;
}
pre code, pre samp, pre kbd {
  font-size: 1em;
}
pre kbd {
  color: #060;
}
pre {
  background: #eee;
  padding: 0.5em;
  overflow: auto;
}
blockquote {
  background: #eee;
  border-left: medium solid #ccc;
  margin: 1em 0;
  padding: 0.5em;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    background: #222;
  }
  a:link, a:visited {
    color: #9bf;
  }
  a:hover, a:active {
    color: #acf;
  }
  body,
  h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
  h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #bbb;
  }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
  h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active,
  h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
    color: #ccc;
  }
  pre, code, samp, kbd {
    color: #6cf;
  }
  pre kbd {
    color: #9c9;
  }
  pre, blockquote {
    background: #111;
  }
  blockquote {
    border-color: #444;
  }
}
